*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#hero{
    background-image: url(1649333348291984962.jpg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100vh - 157px);
}